.profile {
  display: flex;
  margin: 40px auto 0;
  max-width: 880px;
}

.profilo__image {
  max-width: 120px;
  max-height: 120px;
}
.profile__info {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.profile__name {
  font-family: Inter;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin-bottom: 16px;
}

.profile__job {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin: 0;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  background: transparent url("../images/edit_button.png") center no-repeat;
  border: 1px solid #fff;
  margin-left: 18px;
  align-self: center;
  cursor: pointer;
}
.profile__add-image-button {
  background: transparent url("../images/add_button.png") center no-repeat;
  border: 1px solid #fff;
  width: 150px;
  height: 50px;
  margin: 13px 0 14px 165px;
  align-self: center;
  cursor: pointer;
}
